{% extends 'notes/base.html' %}
{% block search %}
    <form class="form-inline my-2 my-lg-0" method="GET">
        <input class="form-control mr-sm-2" name="search" value='{{ request.GET.search }}' type="text" placeholder="Search your notes">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
{% block content %}
<style>
    input[type=checkbox]:checked+label.strikethrough {
        text-decoration: line-through;
    }
</style>
{% csrf_token %}
<div class="container mt-3 mb-4">
    {% if notes %}
        <div class="row">
            <div class='container col-sm-6'>    
                {% for note in notes_left %}
                    {% if "note" in note %}
                        <div class="card mt-3 mb-3 ml-3 {{ note.color }}">
                            <div class="card-body">
                                <h4 class="card-title">{{ note.title }}</h4>
                                <p class="card-text"> {{ note.note | truncatechars:255 }}</p>
                                <a href={% url 'notes-update' note.id %} class="card-link mr-3">Edit Note</a>
                                {% if note.pin %}
                                    <button data-url={% url 'notes-pin' note.id %} class="btn btn-warning" id="{{ note.id }}">Pinned</button>
                                {% else %}
                                    <button data-url={% url 'notes-pin' note.id %} class="btn btn-outline-dark" id="{{ note.id }}">Pin</button>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                Last edited : {{ note.last_edit | date:"M dS" }} {{ note.last_edit | time:"H:i" }}
                            </div>
                        </div>
                    {% else %}
                        <div class="card mt-3 mb-3 ml-3 {{ note.color }}">
                            <div class="card-body">
                                <h4 class="card-title">{{ note.title }}</h4>
                                {% for todo in note.todos %}
                                    <div class="form-check disabled">
                                        <label class="form-check-label strikethrough">
                                            <input class="form-check-input" type="checkbox" disabled="" {% if todo.completed %} checked {% endif %}>
                                            {{ todo.item }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <a href={% url 'tdnotes-update' note.id %} class="card-link">Edit Note</a>
                                <a href={% url 'notes-todo' note.id %} class="card-link mr-3">Add Todos</a>
                                {% if note.pin %}
                                    <button data-url={% url 'tdnotes-pin' note.id %} class="btn btn-warning" id="{{ note.id }}">Pinned</button>
                                {% else %}
                                    <button data-url={% url 'tdnotes-pin' note.id %} class="btn btn-outline-dark" id="{{ note.id }}">Pin</button>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                Last edited : {{ note.last_edit | date:"M dS" }} {{ note.last_edit | time:"H:i" }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class='container col-sm-6'>
                {% for note in notes_right %}
                    {% if "note" in note %}
                    <div class="card mt-3 mb-3 mr-3 {{ note.color }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ note.title }}</h4>
                            <p class="card-text"> {{ note.note | truncatechars:255 }}</p>
                            <a href={% url 'notes-update' note.id %} class="card-link mr-3">Edit Note</a>
                            {% if note.pin %}
                                <button data-url={% url 'notes-pin' note.id %} class="btn btn-warning" id="{{ note.id }}">Pinned</button>
                            {% else %}
                                <button data-url={% url 'notes-pin' note.id %} class="btn btn-outline-dark" id="{{ note.id }}">Pin</button>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            Last edited : {{ note.last_edit | date:"M dS" }} {{ note.last_edit | time:"H:i" }}
                        </div>
                    </div>
                    {% else %}
                        <div class="card mt-3 mb-3 mr-3 {{ note.color }}">
                            <div class="card-body">
                                <h4 class="card-title">{{ note.title }}</h4>
                                {% for todo in note.todos %}
                                    <div class="form-check disabled">
                                        <label class="form-check-label strikethrough">
                                            <input class="form-check-input" type="checkbox" disabled="" {% if todo.completed %} checked {% endif %}>
                                            {{ todo.item }}
                                        </label>
                                    </div>
                                {% endfor %}
                                <a href={% url 'tdnotes-update' note.id %} class="card-link">Edit Note</a>
                                <a href={% url 'notes-todo' note.id %} class="card-link mr-3">Add Todos</a>
                                {% if note.pin %}
                                    <button data-url={% url 'tdnotes-pin' note.id %} class="btn btn-warning" id="{{ note.id }}">Pinned</button>
                                {% else %}
                                    <button data-url={% url 'tdnotes-pin' note.id %} class="btn btn-outline-dark" id="{{ note.id }}">Pin</button>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                Last edited : {{ note.last_edit | date:"M dS" }} {{ note.last_edit | time:"H:i" }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class='text-center'>
            <h3>No notes yet. Create one!</h3>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $(".row").on("click",":button", function (e) {
            console.log($(this).attr("data-url"))
            const csrf = document.getElementsByName('csrfmiddlewaretoken')
            $.ajax({
                type: 'POST',
                url: $(this).attr("data-url"),
                data: {
                    'csrfmiddlewaretoken': csrf[0].value,                        
                },
                success: function(response){
                    location.reload()
                },
                error: function(error){
                    console.log(error)
                }
            })
        })
    });    
</script>
{% endblock %}
